body {
  background: url(images/backgroundImage.jpg);
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

/* Style for title */

#header {
  text-align: center;
  font-size: 8vw;
  padding-top: 30px;
}

/* Style for Stop Watch Lap */

#lap {
  text-align: right;
  font-size: 3vw;
  padding-right: 10px;
}

/* Style for Stop Watch Time */

#time {
  text-align: center;
  font-size: 10vw;
  margin-bottom: 20px;
}

/* ControlsContainer */
#controlsContainer {
  margin-bottom: 100px;
}

/* Controls */
.controls {
  color: white;
  background-color: #d7a04e;
  height: 10vw;
  width: 10vw;
  border-radius: 100%;
  text-align: center;
  padding: 35% 0;
  font-size: 2vw;
  cursor: pointer;
}

@media (min-width: 768px) {
  .controls {
    padding: 25% 0;
  }
}

.controls:active {
  color: #d7a04e;
  background-color: white;
}

/* Laps Div */

#laps {
  max-height: 200px;
  overflow-y: scroll;
}

.lap {
  height: 50px;
  border-bottom: 1px solid white;
  margin: 15px;
}

.laptimetitle {
  font-size: 1.5em;
  float: left;
}

.laptime {
  font-size: 2em;
  float: right;
}

.footer {
  position: absolute;
  bottom: -350px;
}
.footer p,
.footer a {
  color: white;
  font-size: 1em;
}
